#root {
  margin: 0 auto;
}
.homepage {
  text-align: center;
}
.homepage h1 {
  font-family: Karla, sans-serif;
  margin-bottom: -4px;
  color: #4d5b9e;
}
.homepage button {
  background-color: #4d5b9e;
  color: white;
  padding: 12px 28px;
  margin-top: 12px;
}

.question {
  border-bottom: 1px solid #dbdef0;
  padding: 20px 0;
  width: 800px;
}
.question h2 {
  color: #4d5b9e;
}
.options {
  display: flex;
  gap: 20px;
}
.options div {
  background-color: transparent;
  border: 2px solid #4d5b9e;
  padding: 6px 18px;
  border-radius: 12px;
  font-weight: 500;
  cursor: pointer;
}
.checkBtn {
  background-color: #4d5b9e;
  padding: 10px 20px;
  color: white;
  margin: 40px auto 0 auto;
  display: block;
}
.checkBtn:hover,
.checkBtn:active {
  background-color: #5565b8;
}
.checkBtn:focus {
  outline: none;
}
.message {
  text-align: center;
  margin-top: 20px;
  font-family: Karla, sans-serif;

  color: #4d5b9e;
}
@media screen and (max-width: 51em) {
  .question {
    max-width: 600px;
  }
}
@media screen and (max-width: 37em) {
  .question {
    max-width: 400px;
  }
  .question h2 {
    font-size: 1.2em;
  }
  .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 26em) {
  .question {
    max-width: 300px;
  }
  .question h2 {
    font-size: 1em;
  }
  .options {
    display: grid;
    grid-template-columns: 1fr;
  }
}
