#root {
  margin: 0 auto;
}
.homepage {
  text-align: center;
}
.homepage h1 {
  font-family: Karla, sans-serif;
  margin-bottom: -4px;
}
.homepage button {
  background-color: #4d5b9e;
  color: white;
  padding: 12px 28px;
  margin-top: 12px;
}
